.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font: 1.5em sans-serif;
}

.button:hover {
  transition: 0.7s;
  cursor: pointer;
  background: gray;
}

.btnlayer {
  display: flex;
  padding: 4rem 0;
  text-align: center;
  justify-content: center;
  background-color: #242424;
  width: 100vw;
  gap: 5rem;
}

@media screen and (max-width: 996px) {
  .btnlayer {
    padding: 3.5rem;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
  }
}
